@import "tailwindcss";

:root {
  --color-bg: #101010;
  --color-surface: #1a1a1a;
  --color-border: #3d3a39;
  --color-text: #f2f2f2;
  --color-muted: #8b949e;
  --color-accent: #00d992;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
}
